@import url(https://fonts.googleapis.com/css?family=Roboto);
body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
.container
{
    width: 90vw;
    height: 80vh;
    position: relative;
    margin: 30px;
    box-sizing: border-box;
    border: 10px;
    border-radius: 40px;
    justify-content: center;
    /* align-content: center; */
    display: grid;
    grid-template-areas: "nav nav nav"
                         "g1 g2 g3"
                         "d1 d2 d3";
    grid-template-rows: 40vh 10vh 10vh;
    grid-template-columns: 140px 120px 140px;

}

.box
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgba(240, 248, 255, 0);
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function:ease-in-out;
    grid-area: g2;
}

.b1
{
    text-align: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 30px;
    color:azure;
    grid-area: g1;
    background: #130f30;
    width: 140px;
    opacity: 0;
    height: 100px;
    border: 2px;
    border-radius: 30px;
}

.b2
{
    text-align: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 30px;
    color:azure;
    grid-area: g3;
    background: #130f30;
    opacity: 0;
    width: 140px;
    height: 100px;
    border: 2px;
    border-radius: 30px;
    position: fixed;
}

.container {
    background: linear-gradient(45deg, skyblue 35%, white 50%, skyblue 65%);
    background-size: 400% 400%; /* Makes the gradient large enough to move */
    animation: gradient 5s ease-in-out alternate infinite; /* Smooth infinite animation */
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 100%;
    }
}