@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #f4f4f4; */
    font-family: 'Roboto', sans-serif;

}


.bod
{
    background: linear-gradient(135deg, rgb(9, 47, 78) 35%, rgb(14, 20, 68) 50%, rgb(106, 17, 17) 95%);
    background-size: 400% 400%; 
    animation: gradient 5s ease-in-out alternate infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 100%;
    }
}

.calclayout {
    width: 400px;
    height: 610px;
    display: grid;
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 40px;
    margin: 10px;
    grid-template-areas: 
    "nav nav nav nav"
    "butD butper butdiv butx"
    "but7 but8 but9 butsub"
    "but4 but5 but6 butadd"
    "but1 but2 but3 buteq"
    "butAC but0 butdt buteq";
    row-gap: 6px;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* grid-template-rows: 20vh 10vh 10vh 10vh 10vh 10vh */
    grid-template-rows: 145px 74px 74px 74px 74px 74px;
    grid-template-columns: 80px 80px 80px 80px;
    padding-bottom: 0;

}
/* 
.material-symbols-outlined
{
    color: black;
} */

input[type="text"] {
    grid-area: nav;
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    height: 60px;
    font-size: 45px;
    font-family: 'Roboto';
  }


.calclayout div{
    color: aliceblue;
    font-size: 24px;
    font-family:'Roboto';
    padding: 18px;
    margin: 10px;
    z-index: 1;
    /* background-color: rgb(127, 229, 255); */
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calclayout .na
{
    position: absolute;
    z-index: 0;
    display: flex;
    width: 400px;
    height: 450px;
    border-radius: 40px;
    box-sizing: border-box;
    position:absolute;
    align-self:flex-end;
    padding: 0;
    margin: 0;
    justify-self: center;
    background-color: #27292E;
}

.calclayout .nums:hover
{
    background-color: #6d6d6d31;
    height: 23px;
}



.calclayout .opr
{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    height: 23px;
    align-items: center;
    justify-content: center;
}

.but1{
    grid-area: but1;
}
.but2{
    grid-area: but2;
}
.but3{
    grid-area: but3;
}
.but4{
    grid-area: but4;
}
.but5{
    grid-area: but5;
}
.but6{
    grid-area: but6;
}
.but7{
    grid-area: but7;
}
.but8{
    grid-area: but8;
}
.but9{
    grid-area: but9;
}
.but0{
    grid-area: but0;
}
.calclayout .butAC{
    grid-area: butAC;
    color: #ED0E98;
}
.butdt{
    grid-area: butdt;
}
.calclayout .buteq {
    grid-area: buteq;
    height: 105px;
    align-content: center;
    background: linear-gradient(#ED0E98, #fe572d);
    box-shadow: 0px 0px 10px 0 #ED0E98,
                0 0px 10px 0px #ed810e;
    /* grid-row: 1/8; */
    border: none;
}

.butadd
{
    grid-area: butadd;
    background-color: #3d4048;
}
.butsub
{
    grid-area: butsub;
    background-color: #3d4048;

}
.butx
{
    grid-area: butx;
    background-color: #3d4048;

}
.butdiv
{
    grid-area: butdiv;
    background-color: #3d4048;

}
.butper
{
    grid-area: butper;
    background-color: #3d4048;

}
.butD
{
    grid-area: butD;
    border: 2px solid #3d4048;
    height: 23px;
}
.nac
{
    grid-area: nav;
}