@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.calclayout {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "butD butper butdiv butx"
    "but7 but8 but9 butsub"
    "but4 but5 but6 butadd"
    "but1 but2 but3 buteq"
    "butAC but0 butdt buteq";
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 20vh 10vh 10vh 10vh; */
    grid-template-columns: 80px 80px 80px 80px;

}

.calclayout div{
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.but1{
    grid-area: but1;
}

.but2{
    grid-area: but2;
}
.but3{
    grid-area: but3;
}
.but4{
    grid-area: but4;
}
.but5{
    grid-area: but5;
}
.but6{
    grid-area: but6;
}
.but7{
    grid-area: but7;
}
.but8{
    grid-area: but8;
}
.but9{
    grid-area: but9;
}
.but0{
    grid-area: but0;
}
.butAC{
    grid-area: butAC;
}
.butdt{
    grid-area: butdt;
}
.buteq{
    grid-area: buteq;
    height: 100px;
    align-content: center;
    /* grid-row: 1/8; */
}
.butadd
{
    grid-area: butadd;
}
.butsub
{
    grid-area: butsub;
}
.butx
{
    grid-area: butx;
}
.butdiv
{
    grid-area: butdiv;
}
.butper
{
    grid-area: butper;
}
.butD
{
    grid-area: butD;
}
.nac
{
    grid-area: nav;
}